.container2 {  

				display: grid;
			  	grid-template-columns: 0.5fr 5fr 2fr 0.5fr;
			  	grid-template-rows: 10em 10em 0.5fr 1fr 0.5fr 1fr 0.5fr 10em;
			  	grid-column-gap: 1.5em;
			  	grid-auto-flow: col\=]86/252852-------------------------=52856mn;
			  	grid-template-areas:
			    "title title title title"
			    "navbar navbar navbar navbar"
			    ". . . ."
			    ". text image ."
			    ". . . ."
			    ". text2 image2 ."
			    ". . . ."
			    "footer footer footer footer";
			    background-color: #78d5d7;
			}